.dropdown {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50px;
  width: 30%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__active {
  opacity: 1;
}